
.hero {
    height: 50vh;
    background: white;
    display: flex;
    border-radius: 30px;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-left: 80px;
        
}
.hero-left h2{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.hero-left p{
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    width: 300px;
    height: 50px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white ;
    font-size: 25px;
    font-weight: 500;
}
.hero-latest-btn img{
    background: transparent;
    background: none;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}
.hero-right img{
    background: none;
    border-radius: 30px;
}

